@font-face { font-family: 'CookieRunOTF-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 16px;
	font-family: NanumSquare, 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
	color: #47494D;
}
body {
	background-color: #E5E5E5;
}
.sr-only {
	position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.all {
	position: relative;
	z-index: 10;
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 70px;
}
.all.before-start {
	display: none;
}
.para {
	margin: 1em 0;
	line-height: 1.6;
}
.canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
a {
	color: #333;
}
.section {
	min-height: 30vh;
	margin-bottom: 2.5em;
	padding: 40px;
	line-height: 1.4;
	background: #FFFFFF;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}
.section-title {
	font-size: 2.25rem;
	font-weight: 700;
	color: #2E6FF2;
	text-align: center;
	margin-bottom: 0.9em;
}
.section-title span {
	display: block;
	font-size: 0.875rem;
	font-weight: 400;
	color: #47494D;
	margin-top: 10px;
}
.session-item {
	margin-bottom: 20px;
}
.session-item table {
	width: 100%;
	color: #121314;
}
.session-item thead {
	display: block;
	background: #F2F2F2;
	border-radius: 10px;
	font-size: 0.875rem;
	height: 2.57em;
}
.session-item thead tr {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
}
.session-item thead th {
	display: block;
	height: 100%;
	padding-top: 0.78em;
	box-sizing: border-box;
}

.session-item thead th:first-child {
	width: 85%;
	border-right: 1px solid #FFF;
}

.session-item thead th:last-child {
	width: 15%;
	text-align: center;
} 

.session-item tbody tr {
	display: flex;
	border-bottom: 1px solid #D9DBE0;
}

.session-item tbody img {
	width: 80px;
	height: 80px;
	border-radius: 20px;
	margin-right: 14px;
}

.session-item tbody td {
	display: block;
	height: 100%;
	box-sizing: border-box;
}

.session-item tbody td:first-child {
	display: flex;
	width: 85%;
	padding: 16px 10px;
	font-weight: 700;
	border-right: 1px solid #D9DBE0;
}

.session-item tbody td:last-child {
	padding-top: 3.06rem;
	width: 15%;
	text-align: center;
} 

.session-title {
	display: block;
	font-size: 1.125rem;
	line-height: 1.4;
	word-break: break-all;;
	margin-bottom: 8px;
}

.profile-name {
	font-size: 0.875rem;
	color: #8D9299;
}

.session-item-con {
	display: flex;
	align-items: flex-start;
}
.session-item:last-child {
	margin-bottom: 0;
}
.session-active .session-item-con {
	display: block;
}
.session-active .session-title {
	font-size: 1.2rem;
}
.profile-photo {
	flex-shrink: 0;
	width: 30%;
	margin: 0;
	font-size: 0;
}
.session-active .profile-photo {
	width: 70%;
	margin: 30px auto;
}
.session-info {
	margin-left: 18px;
}
.session-active .session-info {
	margin-left: 0;
}
.session-active .session-desc {
	display: block;
}
.profile {
	font-size: 0.9em;
}
.session-active .profile {
	margin-top: 30px;
}
.profile-name {
	margin: 5px 0 10px;
	font-size: 0.9rem;
}
.team .profile-name {
	margin: 0;
	font-size: 1rem;
	font-weight: 900;
}
.session-active .profile-name {
	font-size: 1rem;
	font-weight: 900;
}
.profile-name small {
	display: none;
	margin-top: 5px;
	color: #666;
}
.team .profile-name small,
.session-active .profile-name small {
	display: block;
}
.profile-desc,
.profile-desc a {
	color: #666;
}
.profile-link-list {
	line-height: 1.6;
}
.profile-desc,
.profile-link-list,
.session-desc {
	display: none;
}
.team .profile-desc,
.session-active .profile-desc,
.session-active .session-desc {
	display: block;
}
.team .profile-link-list,
.session-active .profile-link-list {
	display: inline-block;
}
.profile-link {
	color: #0757a1;
}
.team .profile-link-list {
	margin: 10px 0;
}
.session-time {
	margin-bottom: 20px;
	padding-bottom: 3px;
	font-size: 1.2em;
	font-style: italic;
	font-weight: 700;
	color: #5483EE;
	border-bottom: 1px solid #5483EE;
}
.head-message {
	margin-bottom: 1em;
	font-size: 1.125rem;
	line-height: 1.2;
	font-weight: 700;
	text-align: center;
	margin: 1.333em 0 2.222em;
}
.head-message small {
	display: block;
	margin-top: 10px;
	font-size: 0.8rem;
	color: #aaa;
}
.intro-message {
	margin: 2.5em 0 1.875em;
}
.view-detail {
	padding: 5px;
	color: #fff;
	background: #5483EE;
}
.apply-link {
	display: block;
	margin: 30px 0;
	padding: 14px;
	font-size: 1rem;
	font-weight: 700;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	background: #2E6FF2;
	border-radius: 10px;
}

.conf-summary {
	display: grid;
	grid-template-columns: 2.75rem auto;
	gap: 1rem 2.125rem;
	font-weight: 700;
}

.conf-summary dt {
	color: #2E6FF2;
	word-spacing: 0.6rem;
}

.conf-summary dd {
	color: #121314;
}

.twoyearsago {
	margin-bottom: 30px;
}
.twoyearsago img {
	width: 100%;
}
.twoyearsago figcaption {
	font-size: 12px;
}
/* intro */
.intro {
	padding: 50px 80px 40px;
}

.intro h2 img {
	width: 100%;
}

.management-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	width: 385px;
	margin: 0 auto;
	gap: 30px;
}

.management-list figure {
	font-size: 0;
}

.management {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 50px;
}

.management .session-item {
	margin: 0;
}

.management .profile-photo {
	width: 100%;
}

@media (min-width: 769px) {
	/* html {
		font-size: 16px;
	}
	body {
		background-size: 500px auto;
	}
	.section {
		margin-bottom: 100px;
		padding: 30px 50px;
		background: rgba(255,255,255,0.96);
	}
	.head-message {
		font-size: 3rem;
	}
	.head-message small {
		font-size: 1rem;
	} */
	/* .session-item {
		margin-bottom: 100px;
	}
	.session-active .session-item-con {
		display: flex;
		align-items: flex-start;
	}
	.section-title {
		font-size: 3rem;
		margin-bottom: 50px;
	}
	.profile-photo {
		width: 18%;
	}
	.session-active .profile-photo {
		flex-shrink: 0;
		width: 18%;
		margin: 0;
		font-size: 0;
	}
	.session-title,
	.session-active .session-title {
		font-size: 1.5rem;
	}
	.session-info {
		flex: 1;
		margin-left: 45px;
	}
	.session-active .session-info {
		margin-left: 45px;
	}
	.session-time {
		margin-bottom: 40px;
		font-size: 1.5rem;
	}
	.apply-link {
		margin-top: 50px;
	} */
}

@media (max-width: 320px) {
	/* .section {
		padding: 15px;
	} */
}






















