@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --mainColor: #43b149;
  --fontMain: #121314;
  --fontGray: #47494d;
  --fontLightGray: #8d9299;
  --bgColor: #f2f2f2;
  --borderColor: #d9dbe0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: NanumSquare, "Apple SD Gothic Neo", "Roboto", "Noto Sans KR",
    NanumGothic, "Malgun Gothic", sans-serif;
  background-color: var(--bgColor);
  color: var(--fontMain);
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.all {
  position: relative;
  z-index: 1;
  width: 60%;
  max-width: 80rem;
  min-width: 28rem;
  margin: 0 auto;
  padding-bottom: 7rem;
}

.all.before-start {
  display: none;
}

.canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
}

a {
  color: var(--fontMain);
  text-underline-position: under;
}

.section {
  margin-bottom: 4rem;
  padding: 4rem;
  line-height: 1.4;
  background: #fff;
  box-shadow: 0px 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

/* 본 콘텐츠 */
.section-title {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--mainColor);
  text-align: center;
  margin-bottom: 3.4rem;
}

.section-title span {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--fontGray);
}

.intro-title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
  margin: 2.4rem 0 4rem;
}

.para {
  line-height: 1.375rem;
}

.intro-message {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--fontGray);
}

/* intro : 컨퍼런스 소개 */
.intro {
  padding: 5rem 8rem 3.4rem;
}

.intro h2 img {
  width: 100%;
}

.apply-link {
  display: block;
  /* margin: 3rem 0; */
  padding: 1.4rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: var(--mainColor);
  border-radius: 1rem;
}

.conf-summary {
  display: grid;
  grid-template-columns: 4.4rem auto;
  gap: 1.6rem 3.4rem;
  margin: 3rem 0;
  font-weight: 700;
}

.conf-summary dt {
  color: var(--mainColor);
  word-spacing: 1rem;
}

.conf-summary a {
  text-underline-position: under;
}

.management-list {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem 2.5rem;
}

.management-list li {
  display: flex;
  align-items: center;
  width: 20%;
  flex-shrink: 1;
  text-align: center;
}

/* notice-list: 모집 안내 */
.notice-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 700;

  li {
    display: flex;
  }

  h3 {
    width: 8rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--mainColor);
  }
}

.note-list > li {
  display: flex;
  gap: 0.5rem;

  &::before {
    display: block;
    content: "";
    width: 0.3rem;
    height: 0.3rem;
    background-color: var(--fontMain);
    border-radius: 50%;
    margin: 0.8rem 0 0 0;
  }
}

/* session-section: 컨퍼런스 타임 테이블 */
.session-section .section-title {
  margin-bottom: 1rem;
}

.session-date {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--fontGray);
  text-align: center;
}

.session-button-list {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.session-button {
  padding: 1rem 1.6rem;
  border-radius: 5rem;
  border: 1px solid var(--fontMain);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;

  &.active {
    background-color: var(--fontMain);
    color: #ffffff;
    font-weight: 600;
  }
}

.session-card:last-of-type {
  border-bottom: 1px solid var(--bgColor);
}

.session-card .session-header {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 1rem;
  background: var(--bgColor);

  p {
    text-align: center;
    padding: 1rem 0;
    box-sizing: border-box;

    &:first-of-type {
      width: 85%;
      border-right: 1px solid #fff;
    }

    &:last-of-type {
      margin-left: auto;
      width: 15%;
    }
  }
}

.session-content {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;

  .content {
    display: flex;
    width: 85%;
    padding: 1.6rem 1rem;
    box-sizing: border-box;
    border-right: 1px solid var(--bgColor);

    &.notice {
      justify-content: center;
    }
  }
}

.session-image {
  margin: auto 0;
  width: 8rem;
  height: 8rem;
  border-radius: 2rem;
}

.session-info {
  margin-left: 1.8rem;
  padding: 1rem 0;
}

.session-title {
  display: block;
  word-break: break-all;
  margin-bottom: 0.8rem;
}

.session-speaker {
  display: flex;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--fontLightGray);

  strong {
    flex-shrink: 0;
  }
}

.speaker-company:not(:empty) {
  display: flex;
  gap: 0.5rem;

  &::before {
    content: "|";
  }
}

.session-location {
  width: 15%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.notice-message {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--bgColor);
  border-radius: 1rem;
  color: var(--fontMain);
  font-weight: 400;
}

.notice-message::before {
  content: "";
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 1rem;
  background: #fff url(../images/icon-notice.svg) no-repeat center / 2rem 2rem;
  margin-right: 1.3rem;
}

.notice-message p {
  width: 90%;
}

/* team : 운영팀 */
.team .session-item {
  display: flex;
}

.team .session-item:last-child {
  margin-bottom: 0;
}

.team .profile-photo {
  flex-shrink: 0;
  width: 30%;
  margin: 0;
  font-size: 0;
}

.team .profile-photo img {
  width: 100%;
  border-radius: 20px;
}

.team .profile-name {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 8px;
  font-weight: 900;
  color: var(--fontMain);
}

.team .profile-name small {
  font-size: 1.4rem;
  color: var(--fontLightGray);
  margin-left: 5px;
}

.team .profile-role {
  font-size: 1.4rem;
}

.team .profile-desc {
  margin-top: 10px;
  color: var(--fontGray);
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.team .profile-desc a {
  color: #666;
  font-weight: 600;
}

/* faq */
.faq .faq-item {
  border: 1px solid var(--borderColor);
  border-radius: 1rem;
}

.faq .faq-item.active .answer {
  display: flex;
}

.faq .faq-item:not(:first-child) {
  margin-top: 1.5rem;
}

.faq .question {
  position: relative;
  display: flex;
  width: 100%;
  padding: 2rem;
  font-weight: 700;
  box-sizing: border-box;
}

.faq .question::before {
  margin: 0 2rem 0 0.5rem;
  content: "Q";
  width: 1rem;
  height: 1rem;
  color: var(--mainColor);
  font-weight: 800;
}

.faq .answer {
  display: none;
  word-break: break-all;
  color: var(--fontLightGray);
  font-weight: 400;
  padding: 0 2rem 2rem;
}

.faq .answer::before {
  display: block;
  margin: 0 2rem 0 0.5rem;
  content: "A";
  width: 1rem;
  height: 1rem;
  color: var(--fontLightGray);
  font-weight: 800;
}

.faq .arrow-item {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-left: auto;
}

.faq .faq-item.active .arrow-item > svg {
  transform: rotate(180deg);

  path {
    fill: var(--mainColor);
  }
}

/* etc */
.scroll-top {
  position: fixed;
  bottom: 96px;
  right: 26px;
  z-index: 999;
  transition: bottom 0.3s;
  display: none;
}

.scroll-top.btn-active {
  display: block;
}

.scroll-top button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  background-color: #fff;
}

.scroll-top .scroll-top-img {
  width: 40px;
  height: 40px;
  fill: #c4c4c4;
}

.scroll-top:hover .scroll-top-img {
  fill: #767676;
}

/* 
.sticker-section {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.sticker-section.active {
  display: flex;
}

.sticker-section .wrap {
  border-radius: 10px;
  overflow: hidden;
  margin: 0 50px;
}

.sticker-section .info-img {
  max-width: 500px;
  min-width: 200px;
}

.sticker-section .close-modal {
  width: 100%;
  height: 50px;
  background-color: #fff;
  color: var(--fontMain);
  font-weight: 700;
  cursor: pointer;
} */

/* mobile */
@media (max-width: 1024px) {
  .management-list {
    flex-wrap: wrap;
  }
  /* .management-list li {
    width: 7.5em;
  } */
}

@media (max-width: 769px) {
  html {
    font-size: 8px;
  }
  .all {
    width: 80%;
  }
  .section {
    padding: 20px;
  }
  .session-table tbody img {
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
  }
  .management-list li {
    width: 5.5em;
  }
}

@media (max-width: 320px) {
  .section {
    padding: 15px;
  }
}
