@font-face {
  font-family: 'CookieRunOTF-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --mainColor: #43b149;
  --fontMain: #121314;
  --fontGray: #47494d;
  --fontLightGray: #8d9299;
  --bgColor: #f2f2f2;
  --borderColor: #d9dbe0;
  --darkGreen: #37963c;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: NanumSquare, 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
  background-color: var(--bgColor);
  color: var(--fontMain);
}

img {
  image-rendering: -webkit-optimize-contrast;
}

a {
  text-underline-position: under;

  &:hover {
    text-decoration: underline;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.all {
  position: relative;
  z-index: 1;
  width: 60%;
  max-width: 80rem;
  min-width: 28rem;
  margin: 0 auto;
  padding-bottom: 7rem;
}

.all.before-start {
  display: none;
}

.canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
}

.section {
  margin-bottom: 4rem;
  padding: 4rem;
  line-height: 1.4;
  background: #fff;
  box-shadow: 0px 0.4rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

.link-decoration {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  &::after {
    content: '';
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background: url('/src/images/icon/icon-arrow.svg') no-repeat center / cover;
  }
}

.open-modal:hover {
  text-underline-position: under;
  text-decoration: underline;
}

/* 본 콘텐츠 */
.section-title {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--mainColor);
  text-align: center;
  margin-bottom: 3.4rem;
}

.section-title span {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--fontGray);
}

.intro-title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
  margin: 2.4rem 0 4rem;
}

.para {
  line-height: 1.375rem;
}

.intro-message {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--fontGray);
}

/* intro : 컨퍼런스 소개 */
.intro {
  padding: 5rem 8rem 3.4rem;
}

.intro h2 img {
  width: 100%;
}

.apply-link {
  display: block;
  padding: 1.4rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: var(--mainColor);
  border-radius: 1rem;
}

.conf-summary {
  display: grid;
  grid-template-columns: 4.4rem auto;
  gap: 1.6rem 3.4rem;
  margin: 3rem 0;
  font-weight: 700;
}

.conf-summary dt {
  color: var(--mainColor);
  word-spacing: 1rem;
}

.conf-summary a {
  text-underline-position: under;
}

.management-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 3rem;
}

.management-list li {
  display: flex;
  align-items: center;
  text-align: center;
}

/* .section-note: 참가 신청 안내 */
.section-note {
  padding: 4rem 8rem 3.4rem;
}

.notice-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 700;

  li {
    display: flex;
  }

  h3 {
    flex-shrink: 0;
    width: 8rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--mainColor);
  }
}

.note-list > li {
  display: flex;
  gap: 0.5rem;

  &::before {
    flex-shrink: 0;
    display: block;
    content: '';
    width: 0.3rem;
    height: 0.3rem;
    background-color: var(--fontMain);
    border-radius: 50%;
    margin: 0.8rem 0 0 0;
  }
}

/* session-section: 컨퍼런스 타임 테이블 */
.session-section .section-title {
  margin-bottom: 1rem;
}

.session-date {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--fontGray);
  text-align: center;
}

.session-button-list {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.session-button {
  padding: 1rem 1.6rem;
  border-radius: 5rem;
  border: 1px solid var(--fontMain);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;

  &.active {
    background-color: var(--fontMain);
    color: #ffffff;
    font-weight: 600;
  }
}

.session-card:last-of-type {
  border-bottom: 1px solid var(--bgColor);
}

.session-card .session-header {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 3.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 1rem;
  background: var(--bgColor);

  p {
    text-align: center;
    padding: 1rem 0;
    box-sizing: border-box;

    &:first-of-type {
      width: 85%;
      border-right: 1px solid #fff;
    }

    &:last-of-type {
      margin-left: auto;
      width: 15%;
    }
  }
}

.session-content {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;

  .content {
    display: flex;
    width: 85%;
    padding: 1.6rem 1rem;
    box-sizing: border-box;
    border-right: 1px solid var(--bgColor);

    &.notice {
      justify-content: center;
    }
  }
}

.session-image {
  width: 8rem;
  height: 8rem;
  border-radius: 2rem;
}

.session-info {
  margin-left: 1.8rem;
  padding: 1rem 0;
}

.session-title {
  display: block;
  word-break: break-all;
  margin-bottom: 0.8rem;
}

.session-speaker {
  display: flex;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--fontLightGray);

  strong {
    flex-shrink: 0;
  }
}

.speaker-company:not(:empty) {
  display: flex;
  gap: 0.5rem;

  &::before {
    content: '|';
  }
}

.session-location {
  width: 15%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.notice-message {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--bgColor);
  border-radius: 1rem;
  color: var(--fontMain);
  font-weight: 400;
}

.notice-message::before {
  content: '';
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 1rem;
  background: #fff url(../images/icon/icon-notice.svg) no-repeat center / 2rem 2rem;
  margin-right: 1.3rem;
}

.notice-message p {
  width: 90%;
}

/* team : 운영팀 */
.team .session-item {
  display: flex;
}

.team .session-item:last-child {
  margin-bottom: 0;
}

.team .profile-photo {
  flex-shrink: 0;
  width: 30%;
  margin: 0;
  font-size: 0;
}

.team .profile-photo img {
  width: 100%;
  border-radius: 20px;
}

.team .profile-name {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 8px;
  font-weight: 900;
  color: var(--fontMain);
}

.team .profile-name small {
  font-size: 1.4rem;
  color: var(--fontLightGray);
  margin-left: 5px;
}

.team .profile-role {
  font-size: 1.4rem;
}

.team .profile-desc {
  margin-top: 10px;
  color: var(--fontGray);
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.team .profile-desc a {
  color: #666;
  font-weight: 600;
}

/* faq */
.faq .faq-item {
  border: 1px solid var(--borderColor);
  border-radius: 1rem;
}

.faq .faq-item.active .answer {
  display: flex;
}

.faq .faq-item:not(:first-child) {
  margin-top: 1.5rem;
}

.faq .question {
  position: relative;
  display: flex;
  width: 100%;
  padding: 2rem;
  font-weight: 700;
  box-sizing: border-box;
  text-align: left;
}

.faq .question::before {
  margin: 0 2rem 0 0.5rem;
  content: 'Q';
  width: 1rem;
  height: 1rem;
  color: var(--mainColor);
  font-weight: 800;
}

.faq .answer {
  display: none;
  word-break: break-all;
  color: var(--fontLightGray);
  font-weight: 400;
  padding: 0 2rem 2rem;
}

.faq .answer::before {
  display: block;
  margin: 0 2rem 0 0.5rem;
  content: 'A';
  width: 1rem;
  height: 1rem;
  color: var(--fontLightGray);
  font-weight: 800;
}

.faq .arrow-item {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-left: auto;
}

.faq .faq-item.active .arrow-item > svg {
  transform: rotate(180deg);

  path {
    fill: var(--mainColor);
  }
}

/* etc */
.scroll-top {
  position: fixed;
  bottom: 96px;
  right: 26px;
  z-index: 999;
  transition: bottom 0.3s;
  display: none;
}

.scroll-top.btn-active {
  display: block;
}

.scroll-top button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  background-color: #fff;
}

.scroll-top svg {
  width: 50px;
  height: 50px;

  path {
    fill: #c4c4c4;
  }
}

.scroll-top:hover .scroll-top-img {
  fill: #767676;
}

/* 모달 */
.modal-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 999;
}

.modal-section.active {
  display: flex;
}

.modal-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 60rem;
  background-color: var(--mainColor);
  border-radius: 10px;
  overflow: hidden;
  padding: 6rem 4.2rem 4rem;
  box-sizing: border-box;
}

.modal-contents::before,
.modal-contents::after {
  content: '';
  position: absolute;
  top: 0;
  width: 18rem;
  height: 9rem;
  background: url('/src/images/modal-light.png') no-repeat center / cover;
  z-index: 10;
}

.modal-contents::before {
  left: 0;
}

.modal-contents::after {
  right: 0;
  transform: scaleX(-1);
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.modal-title {
  aspect-ratio: 342 / 57;
  max-width: 34.2rem;

  img {
    object-fit: cover;
  }
}

.modal-sub-title strong {
  text-emphasis: filled #fff;
}

.prize-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(252px, 1fr));
  gap: 1.2rem;
}

.prize-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  height: 11rem;
  padding-right: 1rem;
  box-sizing: border-box;

  img {
    width: 11rem;
    height: 11rem;
  }

  span {
    display: block;
    width: fit-content;
    border-radius: 0.4rem;
    padding: 0.6rem 1rem;
    background: var(--mainColor);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -0.22px;
  }

  strong {
    display: block;
    margin-top: 0.8rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 160%;
  }
}

.modal-note {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 180%;

  strong {
    display: block;
    font-weight: 800;
  }
}

.modal-section .apply-link {
  background-color: #fff;
  color: var(--fontMain);
  width: 24rem;
  margin: 0 auto;
}

.close-modal {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.8rem;
  height: 2.8rem;
  z-index: 100;

  svg {
    object-fit: cover;
  }

  path {
    fill: #fff;
  }

  &:hover path {
    fill: var(--fontMain);
  }
}

@media (max-width: 1024px) {
  .section.intro,
  .section.section-note {
    padding: 4rem;
  }
}

@media (max-width: 769px) {
  html {
    font-size: 8px;
  }

  .all {
    width: 90%;
  }

  .section {
    padding: 3rem;

    &.intro {
      padding: 4rem 3rem 3rem;
    }
  }

  .conf-summary {
    gap: 1.2rem 2rem;
  }

  .notice-list h3 {
    width: 7.5rem;
  }

  .scroll-top {
    bottom: 9rem;
    right: 2rem;
  }

  .scroll-top svg {
    width: 4.6rem;
    height: 4.6rem;
  }

  .prize-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
}

@media (max-width: 420px) {
  .modal-contents {
    padding: 6rem 2rem 2rem;
  }

  .prize-list {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
  }

  .note-wrap {
    flex-direction: column;
    gap: 1rem;
  }
}
